---
import { Image } from "astro:assets";
import Play from "../../img/play.svg"
import "./TechTalk.css"

const {description, img, name} = Astro.props;
---

<div class="relative md:h-auto h-[150px] sm:w-[400px] w-[340px] bg-[#D1AAD7]/[0.01] border-white border md:w-[450px] rounded-2xl grid grid-cols-[0.7fr,1fr] flex-shrink-0">
    <div>
        <Image src={img} alt={name} inferSize class="rounded-bl-2xl object-contain" />
    </div>
    <div class="p-4">
      <p class="mb-1 text-xs font-medium sm:text-sm text-scale-lightmauve">Tech Talk</p>
      <p class="font-aeonik text-lg leading-6 sm:text-xl lg:text-2xl sm:leading-[111%] mb-3 sm:mb-6 lg:mb-2 line-clamp-2">
        {description}
      </p>
      <p class="text-xs font-medium sm:text-sm text-white/60">by {name}</p>
    </div>
    <button class="absolute w-[40px] h-[40px] border hover:bg-white/60 bg-slate-800 border-white flex items-center justify-center rounded-[50%] bottom-2 z-20 right-2">
      <Image src={Play} alt="play icon" class="h-[20px] w-[20px]" width={20} height={20} />
    </button>
  </div>